# Copy this file to backend/.env and fill in your values
# NEVER commit the actual .env file to GitHub

DATABASE_URL=postgresql://postgres:Santhiya%402006@db.warkcxvejmsbepabxlnp.supabase.co:5432/postgres
SECRET_KEY=SanthiyaFlightDelay2026
FLASK_ENV=production
